*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none !important;
}
i{
    color:#3D85F5;
}
.main{
    margin:auto 30px;
}
.gredient-effect{
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    background:rgba(0,0,255,0.1)
}
.book-class{
    position:fixed;
    bottom:5%;
    right:5%;
    z-index: 1;
}
.book-class img{
    width:70px;
    height:70px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
	animation:animate 8s infinite;
}
@keyframes animate{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}
/* navigation bar */
.navbar{
    font-size: 1.2rem;
    width: 100%;
    background:#fff;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}
.navbar-brand{
    font-weight: 800;
}
.navbar-nav{
    font-weight: 400;
}
.dropdown::marker{
    color: #fff;
}
.dropdown-menu{
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

/* header section css starts */
.header{
    padding:50px 20px;
}
.header img{
    width:100%;
    height:22rem;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}
.header-text{
    margin:100px 10px;
    max-width: 75%;
}
.header-text h3{
    font-size: 2.5rem;
}
.header-text i{
    color:rgba(0,0,0,0.7)
}
.header-text a{
    text-decoration: none;
}
.header-counter span{
    font-size: 1.2rem;
    font-weight: 500;
    margin:0px auto;
}
.header-counter h2{
    margin:0px auto;
}

/* explore section starts here */
.explore{
    padding:50px 30px;
}
.explore-now-item{
    text-align: center;
    transition: 0.5s all;
    border-radius: 4px;
    margin:30px 10px;
}
.explore-now-item:hover{
    transform: translateY(-10px);
    box-shadow:2px 2px 10px rgba(0,0,0,0.2);
}
.explore-now-item:hover h2{
    color:#3D85F5;
}
.explore-now-item button{
    margin:10px auto;
}

/* study material section starts */
.study-material{
    margin-bottom:100px;
}
.study-materials{
    border:1px solid rgba(0,0,0,0.7);
    margin:0px;
    padding:10px

}
.study-material-item{
    margin:auto 10px;
    color:rgba(0,0,0,0.7);
}
.study-material-item:hover h5{
    color:#000;
}
.study-material-item img{
    width:6rem;
}
.study-material-item h5{
    margin:20px auto;
}

/* exam-coursify section starts */
.exam-coursify{
    margin:50px 20px;
}
.exam-coursifys{
    margin:auto 20px;
}
.exam-coursify-items{
    width:22rem;
    margin:20px auto;
    background: rgba(0,0,0,0.1);
}
.exam-coursify-items h3{
    margin:20px auto;
    text-align: center;
}

/* subjects section starts */
.subject{
    margin:100px auto;
}
.study-cat{
    margin:auto 20px;
}
.study-item{
    width:18rem;
    text-align: center;
    margin:20px 10px;
    padding:5px;
}
.link:hover{
    text-decoration: underline;
    color:blue !important;
    transform: translateY(-20px);
    transition: 0.3s all;
}

/* Testimonials section starts */
.Testimonials{
    margin-bottom:100px;
    background:#2B303E;
    border-radius: 20px;
}
.Testimonials h2{
    color:#fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}